<!DOCTYPE html>
<html>
   <head>
        <title>lionEagle login</title> 
       <link href="{{url_for('static', filename='stylesheets/about.css')}}" type="text/css" rel="stylesheet">
       <script src="javascripts/main.js"></script>
    </head> 
     <body background = "{{url_for('static', filename='images/griffin_drawn.png')}}">
       <div id="nav">
            <div id="nav_wrapper">
                <ul>
                    <li><img src = "{{url_for('static', filename='images/griffin.png')}}" height="50" href ="/">
                        <ul>
                            <li><a href="/contactUs">Contact</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </li>
                    <li>lionEagle</li>
                    <li><a href="/login">Login/signup</a></li>
                    
                </ul>
            </div>
        </div>
        <p id="about">lionEagle is designed to bring together freelance developers and the companies that need them. Our mission is to provide a steady stream of work for independent developers while promoting the free, open culture that gives them their strength.</p>
    </body>
</html>
