<!DOCTYPE html>
<html>
   <head>
        <title>lionEagle contact Us</title> 
       <link href="{{url_for('static', filename='stylesheets/contactUs.css')}}" type="text/css" rel="stylesheet">
       <script src="javascripts/main.js"></script>
    </head> 
    <body background = "{{url_for('static', filename='images/griffin_drawn.png')}}">
        <div id="nav">
            <div id="nav_wrapper">
                <ul>
                    <li><img src = "{{url_for('static', filename='images/griffin.png')}}" height="50" href ="/">
                        <ul>
                            <li><a href="/contactUs">Contact</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </li>
                    <li>lionEagle</li>
                    <li><a href="/login">Login/signup</a></li>
                    
                </ul>
            </div>
        </div>
        <p>lionEagle is made possible by the work of Alexander Benedict and Alexander Lagas. They are both computer science majors in Binghamton University's class of 2018.</p>
        <div id="dualul1">
            <h2>Alexander Benedict</h2>
            <ul>
                <li>Email: Abenedi1@binghamton.edu</li>
                <li>GitHub: github.com/taxlex</li>
            </ul>
        </div>
         <div id="dualul">
            <h2>Alexander Lagas</h2>
            <ul>
                <li>Email: Alagas1@binghamton.edu</li>
                <li>GitHub: github.com/alagas5996</li>
            </ul>
        </div>
        
        
    </body>
</html>
