<!DOCTYPE html>
<html>
   <head>
        <title>lionEagle home</title> 
       <link href="{{url_for('static', filename='stylesheets/main.css')}}" type="text/css" rel="stylesheet">
       <script src="javascripts/main.js"></script>
    </head> 
    <body background = "{{url_for('static', filename='images/griffin_drawn.png')}}">
        <div id="nav">
            <div id="nav_wrapper">
                <ul>
                    <li><a href="/"><img src = "{{url_for('static', filename='images/griffin.png')}}" height="50" href="/"></a>
                        <ul>
                            <li><a href="/contactUs">Contact</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/ourDevs">ourDevs</a></li>
                        </ul>
                    </li>
                    <li style="font-size:40px; padding: 10px">lionEagle</li>
                    <li><a href="/login">Login/Sign Up</a></li>
                    
                </ul>
            </div>
        </div>
	<center>
	<img src = "{{url_for('static', filename='images/griffinBlack.png')}}" height = 200>
	<h2 id="s1">Stand out from the crowd.</h2>
	<br></br>
	<h2 id="s1">Do the things you love.</h2>
	<br></br>
	<h2 id="s1">Work isn't your whole life, and why should it be?</h2>
	<br></br>
	<h2 id="s1">You've chosen to become a freelance developer because you have the skills to succeed on your own.</h2>
	<br></br>
	<h2 id="s1">We're here to help you follow your passions.</h2>
	<br></br>
	<h2 id="s1">lionEagle: We Care</h2>
	</center>
    </body>
</html>
