<!DOCTYPE html>
<html>
   <head>
        <title>lionEagle login</title> 
       <link href="{{url_for('static', filename='stylesheets/login.css')}}" type="text/css" rel="stylesheet">
       <script src="javascripts/main.js"></script>
    </head> 
    <body background = "{{url_for('static', filename='images/griffin_drawn.png')}}">
        <div id="nav">
            <div id="nav_wrapper">
                <ul>
                    <li><a href ="index.html"><img src = images/griffin.png height="50"></a>
                        <ul>
                            <li><a href="contactUs.html">Contact Us</a></li>
                            <li><a href="#">Clients</a></li>
                        </ul>
                    </li>
                    <li>lionEagle</li>
                    <li><a href="login.html">Login/signup</a></li>
                    
                </ul>
            </div>
        </div>
        <br/><br/><br/><br/>
        <div id="titleLogin">
            <h2>Please enter your Username and Password</h2>
        </div>
        <div id="login">
            <form method="POST">
                <br/><br/>
                Username: <input type="text" name="username"/><br/><br/>
                Password: <input type="password" name="password""/><br/><br/><br/>
                <input type="submit" value="Sign in"/>
            </form>
        </div>
    </body>
</html>
