<!DOCTYPE html>
<html>
   <head>
        <title>lionEagle login</title> 
       <link href="{{url_for('static', filename='stylesheets/signUp.css')}}" type="text/css" rel="stylesheet">
       <script src="javascripts/main.js"></script>
    </head> 
    <body background = "{{url_for('static', filename='images/griffin_drawn.png')}}">
        <div id="nav">
            <div id="nav_wrapper">
                <ul>
                    <li><img src = "{{url_for('static', filename='images/griffin.png')}}" height="50" href ="/">
                        <ul>
                            <li><a href="/contactUs">Contact</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </li>
                    <li>lionEagle</li>
                    <li><a href="/login">Login/signup</a></li>
                    
                </ul>
            </div>
        </div>
        <br/><br/><br/><br/>
        <div id="titleLogin">
            <h2>Sign Up</h2>
        </div>
        <div id="login">
            <form action="main.php" method="POST">
                <br/><br/>
                Email: <input type="text" name="txtbox" id="email"/>
                <br/><br/>
                Username: <input type="text" name="txtbox" id="usrnm"/><br/><br/>
                Password: <input type="password" name="pass" id="pass"/><br/><br/>
                Confirm Password: <input type="text" name="txtbox" id="confpass"/><br/><br/>
                
                <input type="submit" id="btn" value="Sign in"/>
            </form>
		<input type="button" onclick="location.href=value='/login'" value="Already have an account? Login!"> </a></input>
        </div>
    </body>
</html>
