body{
    background-color: rgb(0,103,71);
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 18px;
    color:white;
}
p{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding 20px;
}
#nav{
    background: #222;
}
#nav_wrapper{
    width: auto;
    margin: 0 auto;
    text-align: left;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    color:white;
}
#nav ul li{
    display: inline-block;
    vertical-align: bottom;
}
#nav ul li:nth-child(2){
    font-size: 40px;
    padding: 10px;
}
#nav ul li:last-child{
    float:right;
    padding:15px;
}
#nav ul li a:last-child:hover{
    color: #099;
}
#nav ul li a,visited{
    color: #ccc;
    display: block;
    padding: 0px;
    text-decoration: none;
}
#nav ul li a:hover{
    color: #ccc;
    text-decoration: none;
}
#nav ul li:hover ul{
    display:block;
}
#nav ul ul{
    display: none;
    position: absolute;
    background: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li{
    display: block;
    padding: 15px;
    text-align:left;
}
#nav ul ul li:nth-child(2){
    font-size:18px;
    padding: 15px;
}
#nav ul ul li a,visited{
    color: #ccc;
}
#nav ul ul li a:hover{
    color: #099;
}
#s1{
   text-align:center;
}
#about{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}
#dualul1{
    float:left;
    width:50%;
}
#dualul{
    float:right;
    width:50%;
}
#titleLogin{
    text-align:center;
}
#login{
    background: url(images/griffin_drawn.png);
    text-align:center;
}
#profile{
	display:block;
	float:left;
}
#info{
	float:right;
}
#titleLogin{
    text-align:center;
}
#login{
    background: url(images/griffin_drawn.png);
    text-align:center;
}
#email{
    text-align: center;
}
#usrnme{
    text-align: center;
}
#pass{
    text-align: center;
}
#confpass{
    text-align: center;
}
