body{
    background-color: green;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 18px;
    color:white;
}
#nav{
    background: #222;
}
#nav_wrapper{
    width: auto;
    margin: 0 auto;
    text-align: left;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    color:white;
}
#nav ul li{
    display: inline-block;
    vertical-align: bottom;
}
#nav ul li:nth-child(2){
    font-size:50px;
}
#nav ul li:last-child{
    float:right;
}
#nav ul li a:last-child:hover{
    color: #099;
}
#nav ul li a,visited{
    color: #ccc;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li a:hover{
    color: #ccc;
    text-decoration: none;
}
#nav ul li:hover ul{
    display:block;
}
#nav ul ul{
    display: none;
    position: absolute;
    background: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li{
    display: block;
}
#nav ul ul li:nth-child(2){
    font-size:18px
}
#nav ul ul li a,visited{
    color: #ccc;
}
#nav ul ul li a:hover{
    color: #099;
}

#login{
    background: url(images/griffin_drawn.png);
    text-align:center;
}
